.mainContainer {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}

.personinfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    border-right: 1px solid #64FFDA; 
}

.personinfoContainer h1 {
    color: #64FFDA;
}

.personinfoContainer p {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.personinfoContainer button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #64FFDA;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
    align-self: center;
}

.personinfoContainer button:hover {
    background-color: #EE6C4D;
    color: #64FFDA;
}

.noteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6vh;
    overflow: auto;
}

.noteContainer h2 {
    color: #64FFDA;
    margin-bottom: 2rem;
}

.notesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.noteCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    border: 1px solid #64FFDA;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.noteImage {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 0.5rem;
}

.noteTitle {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.noteAuthor {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: left;
}

.likeButton {
    text-align: right;
    cursor: pointer;
}

.pagination {
    margin-bottom: 4vh;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.pagination button {
    background-color: #64FFDA;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.paginationActive {
    background-color: #EE6C4D;
    color: #EE6C4D;
}

.noteFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.noteAuthor {
    margin: 0;
    color: #64FFDA;
}

.likeButton {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.likeCount {
    margin-left: 5px;
}

.linkStyle {
    color: #64FFDA;
}

.linkStyle:visited {
    color: #EE6C4D;
}



/* Media Query for smaller screens */
@media (max-width: 768px) {
    .mainContainer {
        grid-template-columns: 1fr;
    }

    .personinfoContainer {
        border-right: none;
        height: auto;
        padding-bottom: 1rem;
    }

    .noteCard {
        width: 90%;
        height: 20rem;
      }
    
      .noteImage {
        height: 12.5rem;
        /* Adjust image height for smaller screens */
      }
    
      .noteTitle,
      .noteAuthor {
        font-size: 1rem;
        /* Adjust font size for readability on smaller screens */
      }

    .personinfoContainer p {
        width: 90%;
    }
    .personinfoContainer h1 {
        margin-top: 2rem;
    }
}
