.editnoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8vh;
    overflow: auto;
  }
  
  .editnoteContainer h2 {
    color: #64FFDA;
  }
  
  .editnoteContainer form {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
  
  .editnoteContainer form input,
  .editnoteContainer form textarea,
  .editnoteContainer form select {
    margin: 1vh 0;
    padding: 1vh;
    font-size: 2.5vh;
    border-radius: 1.5vh;
  }
  
  .editnoteContainer form button {
    margin-top: 1.5vh;
    padding: 1vh;
    font-size: 2.5vh;
    background-color: #64FFDA;
    border: none;
    cursor: pointer;
    border-radius: 1.5vh;
    width: 15vw;
    align-self: center;
  }
  
  .editnoteContainer form button:hover {
    background-color: #EE6C4D;
    color: #64FFDA;
  }
  
  .carouselItem {
    position: relative;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
  }
  
  .carouselItem button {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 1.5vh;
    padding: 0.5vh 1vh;
  }
  
  .carouselItem button:hover {
    background-color: #EE6C4D;
    color: #64FFDA;
  }
  
  .quillEditor {
    margin-top: 3vh;
    height: 30vh;
    margin-bottom: 10vh;
  }
  
  .carouselImageContainer {
    width: 50vw;  /* Adjust this to set image width */
    height: 50vh;  /* Adjust this to set image height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
  }
  
  .carouselImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .carouselControlPrev,
  .carouselControlNext {
    top: 40%;
    width: 10%; /* This will place the controls closer to the carousel image */
  }
  
  .carouselControlPrevIcon,
  .carouselControlNextIcon {
    width: 2vw;
    height: 2vh;
  }
  
  .carouselImageContainer { 
    position: relative;
    text-align: center;
  }
  
  .carouselRemoveButton {
    transform: translateY(+150%);
  }
  